body {
  background: url('carpet-full.jpg');
}

h1 {
  font-size: 30px;
}

.button {
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #d91c71 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
  background: -moz-linear-gradient(top, #fc3f94, #fc0574);
}
.button:hover {
  background: #e62097;
}

.messages {
  font-size: 15px;
  padding: 5px;
  background-color: #F5F581;
  color: #000000;
}

.separator {
  clear: both;
  padding-top: 30px;
}

ul {
  list-style-type:none;
}

ul li {
  background: url('cards.svg') no-repeat;
  background-color: #ffffff;
  float: left;
  height: 110px;
  width: 50px;
}

ul li.card1a {
  background-position: 0 0;
}

ul li.card1b {
  background-position: 0 -110px;
}

ul li.card1c {
  background-position: 0 -220px;
}

ul li.card1d {
  background-position: 0 -330px;
}

ul li.card2a {
  background-position: -72px 0;
}

ul li.card2b {
  background-position: -72px -110px;
}

ul li.card2c {
  background-position: -72px -220px;
}

ul li.card2d {
  background-position: -72px -330px;
}

ul li.card3a {
  background-position: -144px 0;
}

ul li.card3b {
  background-position: -144px -110px;
}

ul li.card3c {
  background-position: -144px -220px;
}

ul li.card3d {
  background-position: -144px -330px;
}

ul li.card4a {
  background-position: -216px 0;
}

ul li.card4b {
  background-position: -216px -110px;
}

ul li.card4c {
  background-position: -216px -220px;
}

ul li.card4d {
  background-position: -216px -330px;
}

ul li.card5a {
  background-position: -288px 0;
}

ul li.card5b {
  background-position: -288px -110px;
}

ul li.card5c {
  background-position: -288px -220px;
}

ul li.card5d {
  background-position: -288px -330px;
}

ul li.card6a {
  background-position: -360px 0;
}

ul li.card6b {
  background-position: -360px -110px;
}

ul li.card6c {
  background-position: -360px -220px;
}

ul li.card6d {
  background-position: -360px -330px;
}

ul li.card7a {
  background-position: -432px 0;
}

ul li.card7b {
  background-position: -432px -110px;
}

ul li.card7c {
  background-position: -432px -220px;
}

ul li.card7d {
  background-position: -432px -330px;
}

ul li.card8a {
  background-position: -504px 0;
}

ul li.card8b {
  background-position: -504px -110px;
}

ul li.card8c {
  background-position: -504px -220px;
}

ul li.card8d {
  background-position: -504px -330px;
}

ul li.card9a {
  background-position: -576px 0;
}

ul li.card9b {
  background-position: -576px -110px;
}

ul li.card9c {
  background-position: -576px -220px;
}

ul li.card9d {
  background-position: -576px -330px;
}

ul li.card10a {
  background-position: -648px 0;
}

ul li.card10b {
  background-position: -648px -110px;
}

ul li.card10c {
  background-position: -648px -220px;
}

ul li.card10d {
  background-position: -648px -330px;
}

ul li.card11a {
  background-position: -720px 0;
}

ul li.card11b {
  background-position: -720px -110px;
}

ul li.card11c {
  background-position: -720px -220px;
}

ul li.card11d {
  background-position: -720px -330px;
}

ul li.card12a {
  background-position: -792px 0;
}

ul li.card12b {
  background-position: -792px -110px;
}

ul li.card12c {
  background-position: -792px -220px;
}

ul li.card12d {
  background-position: -792px -330px;
}

ul li.card13a {
  background-position: -864px 0;
}

ul li.card13b {
  background-position: -864px -110px;
}

ul li.card13c {
  background-position: -864px -220px;
}

ul li.card13d {
  background-position: -864px -330px;
}
